<%= form_with(model: memo) do |f| %>
  <% if memo.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% memo.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="memo_title">
    <%= f.label :title, 'タイトル', id: 'titleText', class: 'titleArea' %>
    <%= f.text_field :title, id: 'titleBox', class: 'titleArea', spellcheck: 'false', placeholder: 'タイトルを入力してください' %>
  </div>
  
  <div id="memo_content">
    <div id="quill-editor" spellcheck="false"></div>
    <%= f.hidden_field :content, id: 'memo_content_field' %>
  </div>
  

  <%= f.submit '保存', id: 'save' %>
<% end %>


<script>
  // Quillテキストエディタを生成する
  let quill = new Quill('#quill-editor', {
    theme: 'bubble'
  });
  
  // Quillの内容が変更されたときに、f.text_fieldの値を更新する
  quill.on('text-change', function() {
    var quillContent = quill.root.innerHTML;
    document.getElementById('memo_content_field').value = quillContent;
  });
  
  quill.root.innerHTML = '<%= @memo.content.html_safe if @memo.content.present? %>';
</script>